.timer-sec{
	display:inline-block;
	vertical-align:middle;
	background:#fff2f2;
	border-radius:20px;
	margin:20px 0;
	padding:12px 15px 10px 10px;
	border:1px solid #eccece;
	}
.clk-ico{
	display:inline-block;
	vertical-align:middle;
	margin:-3px 5px 0 0;
	}
.timer-sec h3{
	display:inline-block;
	vertical-align:middle;
	font-size:20px;
	line-height:20px;
	color:#3b3b3b;
	font-weight:normal;
	font-family: 'Sailec';
	}
.psgTimer {
	display:inline-block;
	vertical-align:middle;
	font-size: 0;
	}
.psgTimer_numbers>div, .psgTimer_labels>div {
	display: inline-block;
	font-size: 0;
	width: 80px;
	text-align: center
	}
.psgTimer_numbers>div {
	position: relative
	}
.psgTimer_numbers>div:after {
	content: ":";
	line-height: 40px;
	height: 40px;
	display: block;
	font-size: 24px;
	color: #21272C;
	position: absolute;
	top: -4px;
    right: -3px;
	font-family: 'Sailec';
	}
.psgTimer_numbers>div:last-child:after {
	content: none
	}
.psgTimer_numbers>div>div {
	display: inline-block;
	vertical-align: top;
	width: 28px;
	height:36px;
	line-height: 36px;
	background: #21272C;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
	border-radius: 3px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	}
.psgTimer_numbers>div>div:first-child {
	margin-right: 5px
	}
.psgTimer_labels>div {
	padding-top: 5px !important;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #464646;
	}
	
@media screen and (max-width: 640px) {
	
.clk-ico{ width:20px; margin-bottom:15px;}
.timer-sec h3{ font-size:18px; margin-bottom:15px;}
.psgTimer_labels>div{ font-size:10px;}
.psgTimer_numbers>div>div{width: 25px;height: 32px; line-height:32px;font-size: 20px;}

}
